@import "tailwindcss";

/* 1. Isso diz ao Tailwind v4 para procurar a classe .dark no HTML */
@variant dark (&:where(.dark, .dark *));

@theme {
  /* Cores de Marca */
  --color-brand-primary: #006d78;
  --color-brand-hover: #005a63;

  /* Mapeamento de Cores de Sistema */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Fontes Estilosas */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui;
  --font-heading: var(--font-montserrat), sans-serif;

  @keyframes soft-pulse {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.04);
    }
  }
  --animate-soft-pulse: soft-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;
  }

  /* 2. Mantemos sua estrutura de variáveis exatamente igual */
  .dark {
    --background: #020617;
    --foreground: #f8fafc;
  }

  body {
    font-family: var(--font-inter);
    background-color: var(--background);
    color: var(--foreground);
    @apply transition-colors duration-300 antialiased;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-montserrat);
    @apply font-bold tracking-tight;
  }
}

@layer utilities {
  .bg-base {
    background-color: var(--background);
  }
  .text-base {
    color: var(--foreground);
  }
}
